In [34]:
import uuid
from faker import Faker

import numpy as np
import pandas as pd

In [5]:
faker = Faker()

In [7]:
df_nama = pd.read_csv("../processed/sn_nama_all.csv")

In [13]:
siswa_id_to_uuid = {siswa_id: str(uuid.uuid4()) for siswa_id in df_nama.siswa_id.values}

In [ ]:
def map_group(x):
    if "MIPA" in x:
        return "MIPA"
    elif "IPS" in x:
        return "IPS"
    else:
        return "Bahasa"

df_nama["Group"] = df_nama.kelas.map(map_group)
df_nama["StudentId"] = df_nama.siswa_id.map(siswa_id_to_uuid)
df_nama["Name"] = df_nama.nama.map(lambda x: faker.name())
df_nama[["StudentId", "Name", "Group"]].to_csv("../processed/sn_students_import.csv", index=False)

In [25]:
df_nilai = pd.read_csv("../processed/sn_nilai_all.csv")

In [30]:
mapel_to_grade_dict = {
    "MTK": "Mathematics",
    "IND": "BahasaIndonesia",
    "ING": "EnglishLanguage",
    "PAI": "Religion",
    "PJK": "PhysicalEducation",
    "PKN": "CivicEducation",
    "PKR": "Crafts",
    "SBK": "Arts",
    "SUN": "BahasaSunda",
    "SI": "IndonesianHistory",


    "MTK_P": "AdvanceMathematics",
    "BIO": "Biology",
    "FIS": "Physics",
    "KIM": "Chemistry",


    "EKO": "Economy",
    "SEJ": "History",
    "GEO": "Geography",
    "SOS": "Sociology",

    "ANTR": "Anthropology",
    "SIND": "IndonesianLiterature",
    "SING": "EnglishLiterature",
    "JER": "GermanLanguage",
    "JAP": "JapaneseLanguage",
}

In [33]:
df_nilai["GradeId"] = df_nilai.siswa_id.apply(lambda x: str(uuid.uuid4()))
df_nilai["StudentId"] = df_nilai.siswa_id.map(siswa_id_to_uuid)
df_nilai["Subject"] = df_nilai.mapel.map(mapel_to_grade_dict)
df_nilai = df_nilai.rename(columns={"semester": "Semester", "nilai": "Score"})
df_nilai_clean = df_nilai[["GradeId", "StudentId", "Subject", "Semester", "Score"]]
df_nilai_clean = df_nilai_clean.fillna(0)
df_nilai_clean.to_csv("../processed/sn_grades_import.csv", index=False)
df_nilai_clean

,GradeId,StudentId,Subject,Semester,Score
0,61b25e7b-977c-48a8-99a0-bc20c8b83c5d,dd22552c-5803-4bea-8ee0-babaf0ae2fd1,Religion,1,85.0
1,dfc4e654-a7fb-496e-bdbd-17c79674a8ae,9da63f67-93a9-464d-9779-d8f3a8a1d54d,Religion,1,90.0
2,c8f4847a-17ff-43ee-9404-57bb6fee6a73,79731f7d-18f6-4542-87e9-b31d0842d0ad,Religion,1,85.0
3,860c5f4f-dfaf-4435-a458-2a42952edf8c,27bb2532-b29d-4737-bf82-120029fb96e4,Religion,1,89.0
4,366d3877-2a0a-44ce-ae1e-59a3fd3751b1,2080cec8-2d46-44ff-af69-f947c7924bc4,Religion,1,82.0
...,...,...,...,...,...
26245,15cf3d78-b680-4194-8d6f-ed412b35aba4,9e25ec0b-edb0-4902-b2e0-1b475ee1e0e7,JapaneseLanguage,5,82.0
26246,dfb325fc-a493-4c5a-9438-aae59d43e61a,7be9c804-72cd-4836-818c-d5cdaad33406,JapaneseLanguage,5,91.0
26247,6539e567-4e6c-4313-8075-45f1e6593ce6,5ecf5288-ba86-4129-b83a-e2b69f2fb0b5,JapaneseLanguage,5,84.0
26248,15860ed3-146e-4255-826a-141efdcc22fb,bb2e0479-489f-4a44-bd09-ad7b6dec4b14,JapaneseLanguage,5,84.0
26249,dd9f306c-bab9-47f8-927e-101f5c71bff2,eb7e6a63-dc8c-4390-a5c8-65657e95ea41,JapaneseLanguage,5,87.0